.search-panel {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.search-panel input {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #43a623;
	border-radius: 5px;
}
