.movie-item {
	max-width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.movie-item h2 {
	margin-top: 0;
}

.movie-item img {
	max-width: 300px;
	height: auto;
}

.movie-item-title {
	min-height: 64px;
	margin-bottom: 15px;
}

.movie-item-year {
	margin-bottom: 20px;
}
